/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
  font-size: 16px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/*=============== Custom styles=========================*/

@font-face {
  font-family: 'Verlag';
  src: url('../../static/fonts/BrandonGrotesque-Regular.ttf');
}

html {
  font-family: 'Verlag', sans-serif;
  font-size: 15px;
}

p {
  font-size: 19px;
}

a {
  font-weight: bold;
}

.radio-labels {
  font-size: 16px !important;
  color: #333 !important;
  font-weight: bold !important;
}

@font-face {
  font-family: 'Hipstelvetica';
  src: url('../../static/fonts/Hipstelvetica Bold.ttf');
}

.hipstelvetica a {
  font-family: 'Hipstelvetica';
  font-size: 40px;
  text-decoration: none;
}

.hipstelvetica a:hover {
  border-bottom: none;
}

.jumbotron-column {
  margin-top: 60px;
  font-weight: bold;
}

.link-active {
  border-bottom: 2px solid #272D4E;
  height: 64px;
}

#index-banner {
  color: #ffffff;
  background-color: #272D4E;
  background-image: url(../images/pattern.png);
  padding-bottom: 40px;
}

nav ul li {
  margin-right: 5px;
}

.dashboard-sidebar li a {
  color: #444;
}

.bt-blue {
  background-color: #272D4E !important;
}

.bt-blue-text {
  color: #272D4E !important;
}

.chat-clients {
  font-weight: bold;
  font-size: 20px;
}

#poll {
  background-color: #444;
  color: white;
  padding-bottom: 20px;
}

.featured {
  padding: 3px;
  height: 60px;
  width: 220px;
}

main {
  padding-left: 300px;
}

#create-poll button{
  margin-left: 10px;
  padding-left: 5px;
}

#nav-mobile li a {
  font-weight: bold;
}

pre {
  width: 90%;
  background-color: #ccc;
}

nav {
  width: auto;
  margin-left: -20px;
}

nav ul a, nav .brand-logo {
  color: #ffffff;
}

nav ul a:hover {
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
}

.side-nav {
  width: 220px;
}

#nav-mobile li a {
  font-size: 16px;
}

#nav-mobile li *:hover {
  color: teal !important;
}

.bold {
  font-weight: bold;
}
