{% include 'header.html' %}

<body>

  {% include 'navbar.html'%}

    <div class="container" style="padding-top: 10px;">

      {% if not session.get('profile') %}

      <p style="color: red; text-align: center;">This is an anonymous poll, because you don't have a votr account yet.
        This means that you won't be able to manage/edit this poll after creation.
        You can <a href="#" onclick="lock.show()">create a free account now</a> to save it.
      </p>

      {% endif %}

      <div id="polls-container">
      </div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
